@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: Niramit;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.85);
  background-color: #1c1a29;
}
.swiper-wrapper {
  align-items: stretch !important;
}

.swiper-slide {
  height: auto !important;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.tabs {
  box-shadow: none;
}
.tabs__bar {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.6);
}
.tabs__content {
  background-color: transparent;
  box-shadow: none;
}
.tabs__controls {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;

  color: rgba(255, 255, 255, 0.6);

  &:hover {
    background-color: transparent;
  }
  &.is-active {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 700;
  }
}

.tabs__line {
  height: 1.5px;
  background-color: #251977;
  z-index: 10;
  bottom: -1px;
}
